.f-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: #EBEBEB;
}

.f-layer {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 18% 82%; 
    background-color: lightgrey;
    @media screen and (min-width: 720px) and (max-width: 1080px) {
        grid-template-columns: 23% 77%;
    }
}

.f-header {
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: block;
}

.MuiPaper-root{
    box-shadow: none!important;
}

.MuiTable-root {

    border-collapse: separate !important;
    border-spacing: 0px 25px  !important;
    
}
.MuiTable-root thead{
    height: 61px;
}
.MuiTable-root thead>tr>th{
    background-color:white;
    padding: 0px 25px !important;
    font-weight: bold;
    color:  rgba(0, 48, 96, 100);
    font-size: 16px;
}


.MuiTable-root tbody>tr{
    background-color: white;
}

.students .MuiTable-root tbody>tr>th{
    font-size: 16px !important;
    font-weight: 600;
    padding:25px !important;
    display: flex;
    width: 100%;
    color: rgba(114, 116, 119, 100);
}
.MuiTable-root tbody>tr>td{
    font-size: 16px !important;
    color: rgba(114, 116, 119, 100);
}
.MuiTable-root th>p{
    font-size: 0.8rem;
    font-weight: 100;
}
.students .MuiButton-root{
    text-transform: none!important;
    background-color:  #003060;
    
}
#info-button{
    height: 16px;
    border-radius: 50%;
    background-color: transparent !important;
    border: 1px solid rgba(114, 116, 119, 100);
    padding:0;
    margin-left: 5px !important;
    margin-right: auto !important;
    min-width: 0px !important;
    width: 16px !important;
    font-size: 12px;
    font-weight: 600;
    color: black;
    margin-top:3px;
}


.popup-head{
    border-bottom: 1px solid rgb(190 191 193);
}

.popup-content{
    width: 260px !important;
    padding: 10px 15px !important;
    color: rgba(114, 116, 119, 100);
}