body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid .css-1633um2-MuiPaper-root{
  padding-bottom: 1rem;
  padding-top: 1rem ;
}

.export-select.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
  margin-right: 2rem;
}

.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary{
  height: 2rem;
}  